@import './font-icon';

.box {
    &::before{
        content: "";
        position: absolute;
        top: -32px;
        left: -32px;
        width: 100px;
        height: 10px;
        background: orange;
    }
    &::after{
        content: "";
        position: absolute;
        top: -32px;
        left: -32px;
        height: 100px;
        width: 10px;
        background: orange;
    }
}

.carousel {
    &__icon {
        min-width: 70px;
        min-height: 70px;
        border-radius: 50%;
        background: orange;
        color: white;
    }
}